<!DOCTYPE html>
<html>
  <head>
    <title>Soundboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.jpeg') %>";
      window.landingImageURL = "<%= image_url('sc_landing0.jpeg') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
