<!DOCTYPE html>
<html>
  <head>
    <title>SoundBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= favicon_link_tag asset_path('soundboard_favicon.ico') %>
    <%= favicon_link_tag asset_path('soundboardbig1.ico') %>
     <meta property="og:title" content="SoundBoard" />
     <meta property='og:image' content="<%= image_url('preview_picture.png') %>"/>
     <meta property="og:description"
       content="A pixel perfect clone of SoundCloud using React, Redux, Rails, and PostgreSQL"
     />
     <meta property="og:url"
       content="https://soundboard-aa.herokuapp.com/#/"
     />

    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.jpeg') %>";
      window.landingImageURL0 = "<%= image_url('sc_landing0.jpeg') %>";
      window.landingImageURL1 = "<%= image_url('sc_landing1.jpeg') %>";
      window.creatorSplash = "<%= image_url('creator_splash.jpeg') %>";
      window.angelListLogo = "<%= image_url('AngelList_White_Victory_Hand.png') %>";
      window.linkedInLogo = "<%= image_url('linked_in_logo.png') %>";
    </script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
